

body {
    box-sizing: border-box;
}

.jumbotron {
    background-image: url("../img/pizza.png");
    height: 346px;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.heading-2 {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


/*.p3 {*/
/*    width: auto;*/
/*}*/